html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(230deg, pink, rgb(72, 166, 171), purple);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(67, 57, 57);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
}

#wrapper {
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(100px);
    flex-basis: 400px;
    height: 500px;
    box-shadow: 0 0 30px black;
}

#display {
    font-size: 35px;
    padding: 20px;
    border: none;
    border-radius: 40px;
    text-align: right;
    font-family: inherit;
    color: inherit;
    margin-bottom: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px black;
}

.calc-row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

button {
    flex-basis: 20%;
    font-size: 25px;
    height: 65px;
    margin: 3px;
    border-radius: 25px;
    border: none;
    font-family: inherit;
    box-shadow: 0 0 10px black;
    transition: box-shadow 200ms ease-out;
}

#clear {
    flex-basis: 46%;
}

#equal {
    flex-basis: 46%;
    background-color: rgb(168, 189, 249);
}

#clear, #back {
    background-color: rgb(248, 170, 170);
}

.operators {
    background-color: powderblue;
}

button:hover {
    box-shadow: 0 0 10px whitesmoke;
}

#clear:hover, #back:hover {
    box-shadow: 0 0 10px red;
}

.operators:hover {
    box-shadow: 0 0 10px lightskyblue;
}

#equal:hover {
    box-shadow: 0 0 10px paleturquoise;
}